<include file="Public/Header" />

<div class="content-right">
    <div class="content">
        <div class="am-g" style="margin-bottom:15px;">
            <div class="am-u-sm-6">
                <span class="fs-16 fw-700">📝 作业管理</span>
            </div>
            <div class="am-u-sm-6 tr">
                <a href="{{:U('Admin/Homework/add')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 布置作业</a>
            </div>
        </div>
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover am-text-middle">
                    <thead>
                        <tr>
                            <th>作业标题</th>
                            <th>课程</th>
                            <th>班级</th>
                            <th>截止时间</th>
                            <th>提交数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="vo">
                        <tr>
                            <td>{{$vo.title}}</td>
                            <td>{{$vo.course_name}}</td>
                            <td>{{$vo.class_name}}</td>
                            <td>{{$vo.submit_deadline}}</td>
                            <td>{{$vo.submit_count|default=0}}</td>
                            <td><if condition="$vo['status'] eq 1"><span class="am-badge am-badge-success">已发布</span><else /><span class="am-badge">草稿</span></if></td>
                            <td>
                                <a href="{{:U('Admin/Homework/edit', array('id'=>$vo['id']))}}">编辑</a>
                                <a href="{{:U('Admin/Homework/submitList', array('homework_id'=>$vo['id']))}}">提交记录</a>
                            </td>
                        </tr>
                        </volist>
                        <if condition="count($list) eq 0">
                        <tr><td colspan="7" class="am-text-center cr-999">暂无作业数据</td></tr>
                        </if>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<include file="Public/Footer" />
