<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>优惠券管理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">优惠券管理</h3>
    </div>
    <div class="panel-body">
        <form method="get" class="form-inline search-form">
            <div class="form-group">
                <input type="text" name="keyword" class="form-control" placeholder="优惠券名称" value="{:I('keyword')}">
            </div>
            <div class="form-group">
                <select name="type" class="form-control">
                    <option value="">全部类型</option>
                    <option value="1" {:I('type')==1?'selected':''}>折扣券</option>
                    <option value="2" {:I('type')==2?'selected':''}>抵扣券</option>
                </select>
            </div>
            <div class="form-group">
                <select name="status" class="form-control">
                    <option value="-1" {:I('status')==-1?'selected':''}>全部状态</option>
                    <option value="0" {:I('status')==0?'selected':''}>禁用</option>
                    <option value="1" {:I('status')==1?'selected':''}>启用</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
            <a href="{:U('add')}" class="btn btn-success">添加优惠券</a>
        </form>
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>优惠券名称</th>
                    <th>类型</th>
                    <th>面值</th>
                    <th>使用门槛</th>
                    <th>发放总量</th>
                    <th>剩余数量</th>
                    <th>有效期</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="item">
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.name}</td>
                    <td>
                        <if condition="$item.type eq 1">
                            <span class="label label-primary">折扣券</span>
                        <else/>
                            <span class="label label-success">抵扣券</span>
                        </if>
                    </td>
                    <td>
                        <if condition="$item.type eq 1">
                            {$item.value}折
                        <else/>
                            ¥{$item.value}
                        </if>
                    </td>
                    <td>¥{$item.min_amount}</td>
                    <td>{$item.total_count}</td>
                    <td>{$item.remain_count}</td>
                    <td>{$item.valid_start} ~ {$item.valid_end}</td>
                    <td>
                        <if condition="$item.status eq 1">
                            <span class="label label-success">启用</span>
                        <else/>
                            <span class="label label-default">禁用</span>
                        </if>
                    </td>
                    <td>
                        <a href="{:U('edit?id='.$item['id'])}" class="btn btn-xs btn-primary">编辑</a>
                        <a href="{:U('sendCoupon?coupon_id='.$item['id'])}" class="btn btn-xs btn-info">发放</a>
                        <a href="{:U('sendLog?coupon_id='.$item['id'])}" class="btn btn-xs btn-warning">发放记录</a>
                        <a href="{:U('delete?id='.$item['id'])}" class="btn btn-xs btn-danger" onclick="return confirm('确定删除?')">删除</a>
                    </td>
                </tr>
                </volist>
            </tbody>
        </table>
        
        {$page}
    </div>
</div>
</body>
</html>