<ul class="am-nav am-nav-pills table-nav m-b-10">
	<li <?php if($nav_type == 'send'): ?>class="am-active"<?php endif; ?> data-type="send">
		<a href="<?php echo U('Admin/Message/Send'); ?>"><?php echo L('message_send_nav_name'); ?></a>
	</li>
	<li <?php if($nav_type == 'template'): ?>class="am-active"<?php endif; ?> data-type="template">
		<a href="<?php echo U('Admin/Message/Template'); ?>"><?php echo L('message_template_nav_name'); ?></a>
	</li>
	<li <?php if($nav_type == 'log'): ?>class="am-active"<?php endif; ?> data-type="log">
		<a href="<?php echo U('Admin/Message/Log'); ?>"><?php echo L('message_log_nav_name'); ?></a>
	</li>
	<li <?php if($nav_type == 'auto'): ?>class="am-active"<?php endif; ?> data-type="auto">
		<a href="<?php echo U('Admin/Message/AutoSendAttendance'); ?>"><?php echo L('message_auto_nav_name'); ?></a>
	</li>
	<li <?php if($nav_type == 'warning'): ?>class="am-active"<?php endif; ?> data-type="warning">
		<a href="<?php echo U('Admin/Message/HourWarning'); ?>"><?php echo L('message_warning_nav_name'); ?></a>
	</li>
</ul>
