<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- table nav start -->
		<include file="Nav" />
		<!-- table nav end -->

		<div class="am-panel am-panel-success">
			<div class="am-panel-hd">
				<h3 class="am-panel-title">
					<i class="am-icon-file-text"></i> {{:L('message_template_title')}}
					<a href="{{:U('Admin/Message/addTemplate')}}" class="am-btn am-btn-xs am-btn-primary am-radius am-fr">
						<i class="am-icon-plus"></i> {{:L('message_add_template')}}
					</a>
				</h3>
			</div>
			<div class="am-panel-bd">
				<table class="am-table am-table-bordered am-table-striped am-table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>{{:L('message_template_name')}}</th>
							<th>{{:L('message_template_content')}}</th>
							<th>{{:L('message_template_type')}}</th>
							<th>{{:L('message_template_channel')}}</th>
							<th>{{:L('message_template_status')}}</th>
							<th>{{:L('message_template_createtime')}}</th>
							<th>{{:L('message_template_action')}}</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="vo">
						<tr>
							<td>{$vo.id}</td>
							<td>{$vo.name}</td>
							<td class="am-text-truncate" style="max-width:250px;">{$vo.content}</td>
							<td>
								<if condition="$vo['type'] eq 1">
									<span class="am-badge am-badge-primary">{{:L('message_type_notice')}}</span>
								<elseif condition="$vo['type'] eq 2"/>
									<span class="am-badge am-badge-warning">{{:L('message_type_marketing')}}</span>
								<elseif condition="$vo['type'] eq 3"/>
									<span class="am-badge am-badge-secondary">{{:L('message_type_reminder')}}</span>
								<else/>
									<span class="am-badge am-badge-default">{{:L('message_type_other')}}</span>
								</if>
							</td>
							<td>
								<if condition="$vo['channel'] eq 'sms'">
									<span class="am-badge am-badge-primary">{{:L('message_channel_sms')}}</span>
								<elseif condition="$vo['channel'] eq 'weixin'"/>
									<span class="am-badge am-badge-success">{{:L('message_channel_weixin')}}</span>
								<else/>
									<span class="am-badge am-badge-secondary">{{:L('message_channel_both')}}</span>
								</if>
							</td>
							<td>
								<if condition="$vo['status'] eq 1">
									<span class="am-badge am-badge-success">{{:L('common_status_on')}}</span>
								<else/>
									<span class="am-badge am-badge-default">{{:L('common_status_off')}}</span>
								</if>
							</td>
							<td>{$vo.create_time|date='Y-m-d',###}</td>
							<td>
								<a href="{{:U('Admin/Message/addTemplate?id='.$vo['id'])}}" class="am-btn am-btn-xs am-btn-secondary am-radius">{{:L('common_operation_edit')}}</a>
								<a href="{{:U('Admin/Message/deleteTemplate?id='.$vo['id'])}}" class="am-btn am-btn-xs am-btn-danger am-radius" onclick="return confirm('{{:L("message_delete_confirm")}}')">{{:L('common_operation_delete')}}</a>
							</td>
						</tr>
						</volist>
						<notpresent name="list">
						<tr>
							<td colspan="8" class="am-text-center">{{:L('message_template_empty')}}</td>
						</tr>
						</notpresent>
					</tbody>
				</table>

				<div class="am-cf">
					<div class="am-fr">
						{$page}
					</div>
				</div>

				<hr>
				<a href="{{:U('Admin/Message/Send')}}" class="am-btn am-btn-default">
					<i class="am-icon-arrow-left"></i> {{:L('message_back_to_send')}}
				</a>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->
