<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:U('Admin/Growth/Index')}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="请输入学员姓名或标题搜索" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"</present> />
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">查询</button>
				<label class="fs-12 m-l-5 c-p fw-100 more-submit">
					更多筛选
					<input type="checkbox" name="is_more" value="1" id="is_more" <if condition="isset($param['is_more']) and $param['is_more'] eq 1">checked</if> />
					<i class="am-icon-angle-down"></i>
				</label>

				<div class="more-where <if condition="!isset($param['is_more']) or $param['is_more'] neq 1">none</if>">
					<select class="am-radius c-p m-t-10 m-l-5 param-where" name="type">
						<option value="">记录类型</option>
						<option value="1" <if condition="isset($param['type']) and $param['type'] eq 1">selected</if>>课堂表现</option>
						<option value="2" <if condition="isset($param['type']) and $param['type'] eq 2">selected</if>>比赛获奖</option>
						<option value="3" <if condition="isset($param['type']) and $param['type'] eq 3">selected</if>>活动参与</option>
						<option value="4" <if condition="isset($param['type']) and $param['type'] eq 4">selected</if>>日常记录</option>
					</select>
					<select name="teacher_id" class="am-radius c-p m-t-10 m-l-5 param-where">
						<option value="0">选择教师</option>
						<foreach name="teacher_list" item="v">
							<option value="{{$v.id}}" <if condition="isset($param['teacher_id']) and $param['teacher_id'] eq $v['id']">selected</if>>{{$v.name}}</option>
						</foreach>
					</select>
					<div class="param-date param-where m-l-5">
						<input type="text" name="time_start" readonly="readonly" class="am-radius m-t-10" placeholder="开始日期" id="time_start" <if condition="isset($param['time_start'])">value="{{$param.time_start}}"</if>/>
						<span>~</span>
						<input type="text" readonly="readonly" class="am-radius m-t-10" placeholder="结束日期" name="time_end" id="time_end" <if condition="isset($param['time_end'])">value="{{$param.time_end}}"</if>/>
					</div>
				</div>
			</div>
        </form>
        <!-- form end -->

        <!-- operation start -->
        <div class="am-g m-t-15">
            <a href="{{:U('Admin/Growth/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 新增成长记录</a>
        </div>
        <!-- operation end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10 m-l-5">
			<thead>
				<tr>
					<th>学员姓名</th>
					<th class="am-hide-sm-only">类型</th>
					<th>标题</th>
					<th class="am-hide-sm-only">教师</th>
					<th class="am-hide-sm-only">发布时间</th>
					<th>更多</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}">
							<td>{{$v.student_name}}</td>
							<td class="am-hide-sm-only">
								<if condition="$v['type'] eq 1"><span class="am-badge am-badge-primary">课堂表现</span>
								<elseif condition="$v['type'] eq 2" /><span class="am-badge am-badge-success">比赛获奖</span>
								<elseif condition="$v['type'] eq 3" /><span class="am-badge am-badge-warning">活动参与</span>
								<else /><span class="am-badge">日常记录</span>
								</if>
							</td>
							<td>{{$v.title}}</td>
							<td class="am-hide-sm-only">{{$v.teacher_name}}</td>
							<td class="am-hide-sm-only">{{$v.add_time}}</td>
							<td>
								<span class="am-icon-caret-down c-p" data-am-modal="{target: '#my-popup{{$v.id}}'}"> 查看详情</span>
								<div class="am-popup am-radius" id="my-popup{{$v.id}}">
									<div class="am-popup-inner">
										<div class="am-popup-hd">
											<h4 class="am-popup-title">成长记录详情</h4>
											<span data-am-modal-close class="am-close">&times;</span>
										</div>
										<div class="am-popup-bd">
											<dl class="dl-content">
												<dt>学员姓名</dt>
												<dd>{{$v.student_name}}</dd>

												<dt>记录类型</dt>
												<dd>
													<if condition="$v['type'] eq 1"><span class="am-badge am-badge-primary">课堂表现</span>
													<elseif condition="$v['type'] eq 2" /><span class="am-badge am-badge-success">比赛获奖</span>
													<elseif condition="$v['type'] eq 3" /><span class="am-badge am-badge-warning">活动参与</span>
													<else /><span class="am-badge">日常记录</span>
													</if>
												</dd>

												<dt>标题</dt>
												<dd>{{$v.title}}</dd>

												<dt>内容</dt>
												<dd>{{$v.content}}</dd>

												<dt>图片</dt>
												<dd>
													<if condition="!empty($v['images'])">
														<foreach name="v.images" item="img">
															<img src="{{$img}}" class="am-img-thumbnail m-r-5 m-b-5" style="max-width:100px;max-height:100px;" />
														</foreach>
													<else />
														无
													</if>
												</dd>

												<dt>教师</dt>
												<dd>{{$v.teacher_name}}</dd>

												<dt>标签</dt>
												<dd>{{$v.tags}}</dd>

												<dt>发布时间</dt>
												<dd>{{$v.add_time}}</dd>
											</dl>
										</div>
									</div>
								</div>
							</td>
							<td class="view-operation">
								<a href="{{:U('Admin/Growth/Detail', array('id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-file-text-o" data-am-popover="{content: '查看详情', trigger: 'hover focus'}"></button>
								</a>
								<a href="{{:U('Admin/Growth/SaveInfo', array('id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '编辑', trigger: 'hover focus'}"></button>
								</a>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/Growth/Delete')}}" data-am-popover="{content: '删除', trigger: 'hover focus'}" data-id="{{$v.id}}"></button>
							</td>
						</tr>
					</foreach>
				<else />
					<tr><td colspan="7" class="table-no">暂无数据</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		<if condition="!empty($list)">
			{{$page_html}}
		</if>
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->
