<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<legend>
			<span class="fs-16">登录日志</span>
			<a href="{{:U('Admin/Admin/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
		</legend>

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>ID</th>
					<th>管理员</th>
					<th>登录IP</th>
					<th>登录地点</th>
					<th>浏览器</th>
					<th>操作系统</th>
					<th>登录时间</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr>
							<td>{{$v.id}}</td>
							<td>{{$v.admin_name}}</td>
							<td>{{$v.login_ip}}</td>
							<td>{{$v.login_address}}</td>
							<td>{{$v.browser}}</td>
							<td>{{$v.os}}</td>
							<td>{{$v.login_time}}</td>
						</tr>
					</foreach>
				<else />
					<tr><td colspan="7" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		<if condition="!empty($list)">
			{{$page_html}}
		</if>
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->