<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- table nav start -->
		<include file="Nav" />
		<!-- table nav end -->

		<div class="am-panel am-panel-primary">
			<div class="am-panel-hd">
				<h3 class="am-panel-title">
					<i class="am-icon-plus"></i> <present name="data.id">{{:L('message_edit_template')}}<else />{{:L('message_add_template')}}</present>
				</h3>
			</div>
			<div class="am-panel-bd">
				<form class="am-form am-form-horizontal form-validation view-save" action="{{:U('Admin/Message/SaveTemplate')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Message/Template')}}">

					<present name="data.id">
					<input type="hidden" name="id" value="{$data.id}" />
					</present>

					<div class="am-form-group">
						<label class="am-u-sm-2 am-text-right">{{:L('message_template_name')}} <span class="am-text-danger">*</span></label>
						<div class="am-u-sm-8">
							<input type="text" name="name" class="am-form-field am-radius" placeholder="{{:L('message_template_name_tips')}}" value="<present name="data">{$data.name}</present>" required data-validation-message="{{:L('message_template_name_required')}}" />
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-2 am-text-right">{{:L('message_template_type')}}</label>
						<div class="am-u-sm-8">
							<select name="type" class="am-form-field am-radius">
								<option value="1" <if condition="isset($data) and $data['type'] eq 1">selected</if>>{{:L('message_type_notice')}}</option>
								<option value="2" <if condition="isset($data) and $data['type'] eq 2">selected</if>>{{:L('message_type_marketing')}}</option>
								<option value="3" <if condition="isset($data) and $data['type'] eq 3">selected</if>>{{:L('message_type_reminder')}}</option>
								<option value="4" <if condition="isset($data) and $data['type'] eq 4">selected</if>>{{:L('message_type_other')}}</option>
							</select>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-2 am-text-right">{{:L('message_send_channel')}}</label>
						<div class="am-u-sm-8">
							<select name="channel" class="am-form-field am-radius">
								<option value="sms" <if condition="isset($data) and $data['channel'] eq 'sms'">selected</if>>{{:L('message_channel_sms')}}</option>
								<option value="weixin" <if condition="isset($data) and $data['channel'] eq 'weixin'">selected</if>>{{:L('message_channel_weixin')}}</option>
								<option value="both" <if condition="isset($data) and $data['channel'] eq 'both'">selected</if>>{{:L('message_channel_both')}}</option>
							</select>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-2 am-text-right">{{:L('message_template_content')}} <span class="am-text-danger">*</span></label>
						<div class="am-u-sm-8">
							<textarea name="content" class="am-form-field am-radius" rows="6" placeholder="{{:L('message_template_content_tips')}}" required data-validation-message="{{:L('message_template_content_required')}}"><present name="data">{$data.content}</present></textarea>
							<p class="am-text-sm am-text-muted">{{:L('message_template_var_tips')}}: {name}, {course}, {date}, {time}, {class}</p>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-2 am-text-right">{{:L('message_template_status')}}</label>
						<div class="am-u-sm-8">
							<select name="status" class="am-form-field am-radius">
								<option value="1" <if condition="!isset($data) or $data['status'] eq 1">selected</if>>{{:L('common_status_on')}}</option>
								<option value="0" <if condition="isset($data) and $data['status'] eq 0">selected</if>>{{:L('common_status_off')}}</option>
							</select>
						</div>
					</div>

					<div class="am-form-group">
						<div class="am-u-sm-8 am-u-sm-offset-2">
							<button type="submit" class="am-btn am-btn-primary btn-loading-example am-radius" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">
								<i class="am-icon-check"></i> {{:L('common_operation_save')}}
							</button>
						</div>
					</div>

					<div class="am-form-group">
						<div class="am-u-sm-8 am-u-sm-offset-2">
							<a href="{{:U('Admin/Message/Template')}}" class="am-btn am-btn-default am-radius">
								<i class="am-icon-arrow-left"></i> {{:L('common_operation_cancel')}}
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->
