

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- table nav start -->
		
		<!-- table nav end -->

		<div class="am-panel am-panel-success">
			<div class="am-panel-hd">
				<h3 class="am-panel-title">
					<i class="am-icon-file-text"></i> <?php echo L('message_template_title'); ?>
					<a href="<?php echo U('Admin/Message/addTemplate'); ?>" class="am-btn am-btn-xs am-btn-primary am-radius am-fr">
						<i class="am-icon-plus"></i> <?php echo L('message_add_template'); ?>
					</a>
				</h3>
			</div>
			<div class="am-panel-bd">
				<table class="am-table am-table-bordered am-table-striped am-table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th><?php echo L('message_template_name'); ?></th>
							<th><?php echo L('message_template_content'); ?></th>
							<th><?php echo L('message_template_type'); ?></th>
							<th><?php echo L('message_template_channel'); ?></th>
							<th><?php echo L('message_template_status'); ?></th>
							<th><?php echo L('message_template_createtime'); ?></th>
							<th><?php echo L('message_template_action'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($$list as $$vo): ?>
						<tr>
							<td><?php echo $vo['id']; ?></td>
							<td><?php echo $vo['name']; ?></td>
							<td class="am-text-truncate" style="max-width:250px;"><?php echo $vo['content']; ?></td>
							<td>
								<?php if($vo['type'] == 1): ?>
									<span class="am-badge am-badge-primary"><?php echo L('message_type_notice'); ?></span>
								<?php elseif($vo['type'] == 2): ?>
									<span class="am-badge am-badge-warning"><?php echo L('message_type_marketing'); ?></span>
								<?php elseif($vo['type'] == 3): ?>
									<span class="am-badge am-badge-secondary"><?php echo L('message_type_reminder'); ?></span>
								<else/>
									<span class="am-badge am-badge-default"><?php echo L('message_type_other'); ?></span>
								<?php endif; ?>
							</td>
							<td>
								<?php if($vo['channel'] == 'sms'): ?>
									<span class="am-badge am-badge-primary"><?php echo L('message_channel_sms'); ?></span>
								<?php elseif($vo['channel'] == 'weixin'): ?>
									<span class="am-badge am-badge-success"><?php echo L('message_channel_weixin'); ?></span>
								<else/>
									<span class="am-badge am-badge-secondary"><?php echo L('message_channel_both'); ?></span>
								<?php endif; ?>
							</td>
							<td>
								<?php if($vo['status'] == 1): ?>
									<span class="am-badge am-badge-success"><?php echo L('common_status_on'); ?></span>
								<else/>
									<span class="am-badge am-badge-default"><?php echo L('common_status_off'); ?></span>
								<?php endif; ?>
							</td>
							<td>{$vo.create_time|date='Y-m-d',###}</td>
							<td>
								<a href="<?php echo U('Admin/Message/addTemplate?id='.$vo['id']); ?>" class="am-btn am-btn-xs am-btn-secondary am-radius"><?php echo L('common_operation_edit'); ?></a>
								<a href="<?php echo U('Admin/Message/deleteTemplate?id='.$vo['id']); ?>" class="am-btn am-btn-xs am-btn-danger am-radius" onclick="return confirm('<?php echo L("message_delete_confirm"); ?>')"><?php echo L('common_operation_delete'); ?></a>
							</td>
						</tr>
						<?php endforeach; ?>
						<?php if(!isset($$list)): ?>
						<tr>
							<td colspan="8" class="am-text-center"><?php echo L('message_template_empty'); ?></td>
						</tr>
						<?php endif; ?>
					</tbody>
				</table>

				<div class="am-cf">
					<div class="am-fr">
						<?php echo $page; ?>
					</div>
				</div>

				<hr>
				<a href="<?php echo U('Admin/Message/Send'); ?>" class="am-btn am-btn-default">
					<i class="am-icon-arrow-left"></i> <?php echo L('message_back_to_send'); ?>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->

<!-- footer end -->
