<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>处理转校 - SUOJIAN</title>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome-4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top am-padding-top-sm">
            <div class="am-u-sm-10 am-u-sm-centered">
                <div class="am-panel am-panel-warning">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><i class="fa fa-exchange"></i> 处理转校申请</h3>
                    </div>
                    <div class="am-panel-bd">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-hd">学员信息</div>
                            <div class="am-panel-bd">
                                <p><strong>学员：</strong><?php echo !empty($student) ? $student['username'] : '-'; ?></p>
                                <p><strong>手机号：</strong><?php echo !empty($student) ? $student['my_mobile'] : '-'; ?></p>
                                <p><strong>转校原因：</strong><?php echo !empty($transfer) ? $transfer['reason'] : '-'; ?></p>
                            </div>
                        </div>

                        <div class="am-g">
                            <div class="am-u-sm-6">
                                <div class="am-panel am-panel-danger">
                                    <div class="am-panel-hd">源校区</div>
                                    <div class="am-panel-bd">
                                        <p><strong>校区：</strong><?php echo !empty($from_campus) ? $from_campus['name'] : '-'; ?></p>
                                        <p><strong>班级：</strong><?php echo !empty($from_class) ? $from_class['class_name'] : '-'; ?></p>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-6">
                                <div class="am-panel am-panel-success">
                                    <div class="am-panel-hd">目标校区</div>
                                    <div class="am-panel-bd">
                                        <p><strong>校区：</strong><?php echo !empty($to_campus) ? $to_campus['name'] : '-'; ?></p>
                                        <p><strong>班级：</strong><?php echo !empty($to_class) ? $to_class['class_name'] : '-'; ?></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="am-form am-form-horizontal" method="POST" action="<?php echo U('Admin/Transfer/transfer'); ?>">
                            <input type="hidden" name="id" value="<?php echo $transfer['id']; ?>">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">处理结果</label>
                                <div class="am-u-sm-7">
                                    <label class="am-radio-inline">
                                        <input type="radio" name="status" value="1" checked> 批准转校
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" name="status" value="2"> 拒绝转校
                                    </label>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">处理备注</label>
                                <div class="am-u-sm-7">
                                    <textarea name="remark" class="am-form-field" rows="3" placeholder="处理备注（选填）"></textarea>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <button type="submit" class="am-btn am-btn-primary am-btn-block">
                                        <i class="am-icon-check"></i> 提交处理
                                    </button>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <a href="<?php echo U('Admin/Transfer/index'); ?>" class="am-btn am-btn-default am-btn-block">
                                        <i class="am-icon-arrow-left"></i> 返回列表
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
</body>
</html>
