<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据导出</title>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-8 am-u-sm-centered">
                <div class="am-panel am-panel-primary">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">
                            <i class="am-icon-download"></i> 数据导出
                        </h3>
                    </div>
                    <div class="am-panel-bd">
                        <form class="am-form am-form-horizontal" action="{:U('export')}" method="GET" id="exportForm">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">导出类型 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-7">
                                    <select name="type" class="am-form-field" id="exportType" required>
                                        <option value="">请选择导出类型</option>
                                        <option value="revenue">营收报表</option>
                                        <option value="student">学员报表</option>
                                        <option value="consumption">课消报表</option>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">时间范围</label>
                                <div class="am-u-sm-3">
                                    <input type="date" name="start_date" class="am-form-field" value="{$start_date}" placeholder="开始日期">
                                </div>
                                <div class="am-u-sm-1 am-text-center">至</div>
                                <div class="am-u-sm-3">
                                    <input type="date" name="end_date" class="am-form-field" value="{$end_date}" placeholder="结束日期">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">导出字段</label>
                                <div class="am-u-sm-7">
                                    <div class="am-checkbox" id="fieldCheckboxes">
                                        <p class="am-text-muted">请先选择导出类型</p>
                                    </div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">导出格式</label>
                                <div class="am-u-sm-7">
                                    <label class="am-radio-inline">
                                        <input type="radio" name="format" value="xls" checked> Excel (.xls)
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" name="format" value="xlsx"> Excel (.xlsx)
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" name="format" value="csv"> CSV (.csv)
                                    </label>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <button type="button" class="am-btn am-btn-primary am-btn-block" id="previewBtn">
                                        <i class="am-icon-eye"></i> 预览数据
                                    </button>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <button type="submit" class="am-btn am-btn-success am-btn-block">
                                        <i class="am-icon-download"></i> 开始导出
                                    </button>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <a href="{:U('dashboard')}" class="am-btn am-btn-default am-btn-block">返回</a>
                                </div>
                            </div>
                        </form>

                        <!-- 数据预览区 -->
                        <div class="am-panel am-panel-default am-margin-top" id="previewPanel" style="display:none;">
                            <div class="am-panel-hd">数据预览 <small>(前10条)</small></div>
                            <div class="am-panel-bd">
                                <table class="am-table am-table-bordered am-table-striped" id="previewTable">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/static/js/jquery-2.0.0.min.js"></script>
<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
<script>
var fieldMap = {
    revenue: {
        'order_no': '订单号',
        'student_name': '学员姓名',
        'course': '课程',
        'money': '金额',
        'pay_type': '支付方式',
        'status_text': '订单状态',
        'add_time': '下单时间'
    },
    student: {
        'student_name': '学员姓名',
        'phone': '联系电话',
        'source': '来源',
        'balance_hours': '剩余课时',
        'campus_name': '校区',
        'add_time': '添加时间'
    },
    consumption: {
        'student_name': '学员姓名',
        'course': '课程',
        'class_name': '班级',
        'hours': '课时',
        'type_text': '类型',
        'remark': '备注',
        'add_time': '时间'
    }
};

// 切换导出类型时更新字段复选框
$('#exportType').change(function() {
    var type = $(this).val();
    var html = '';
    if (fieldMap[type]) {
        $.each(fieldMap[type], function(key, label) {
            html += '<label class="am-checkbox-inline"><input type="checkbox" name="fields[]" value="' + key + '" checked> ' + label + '</label> ';
        });
    } else {
        html = '<p class="am-text-muted">请先选择导出类型</p>';
    }
    $('#fieldCheckboxes').html(html);
});

// 预览按钮
$('#previewBtn').click(function() {
    var type = $('#exportType').val();
    if (!type) {
        alert('请先选择导出类型');
        return;
    }

    var params = $('#exportForm').serialize();
    $.get('__CONTROLLER__/previewExport?' + params, function(res) {
        if (res.code && res.data && res.data.length > 0) {
            // 生成表头
            var fields = $('input[name="fields[]"]:checked').map(function() { return $(this).val(); }).get();
            var fieldLabels = {};
            $('input[name="fields[]"]:checked').each(function() {
                fieldLabels[$(this).val()] = $(this).next().text();
            });

            var theadHtml = '<tr>';
            $.each(fields, function(i, f) {
                theadHtml += '<th>' + (fieldLabels[f] || f) + '</th>';
            });
            theadHtml += '</tr>';
            $('#previewTable thead').html(theadHtml);

            // 生成数据行
            var tbodyHtml = '';
            $.each(res.data.slice(0, 10), function(i, row) {
                tbodyHtml += '<tr>';
                $.each(fields, function(j, f) {
                    tbodyHtml += '<td>' + (row[f] || '-') + '</td>';
                });
                tbodyHtml += '</tr>';
            });
            tbodyHtml += '<tr><td colspan="' + fields.length + '" class="am-text-center">共 ' + res.data.length + ' 条数据</td></tr>';
            $('#previewTable tbody').html(tbodyHtml);

            $('#previewPanel').show();
        } else {
            alert('暂无数据');
        }
    });
});

// 导出表单提交
$('#exportForm').submit(function() {
    var type = $('#exportType').val();
    if (!type) {
        alert('请先选择导出类型');
        return false;
    }
    return true;
});
</script>
</body>
</html>
