<include file="Public/Header" />
<include file="Public/Nav" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<div class="am-btn-toolbar am-margin-bottom">
			<a href="<?php echo U('Admin/Campus/index'); ?>" class="am-btn am-btn-default am-radius">
				<i class="am-icon-arrow-left"></i> 返回校区管理
			</a>
			<a href="<?php echo U('Admin/Campus/crossCampusStudent'); ?>" class="am-btn am-btn-success am-radius">
				<i class="am-icon-users"></i> 跨校学员查询
			</a>
		</div>

		<div class="am-panel am-panel-warning">
			<div class="am-panel-hd">
				<h3 class="am-panel-title"><i class="fa fa-search"></i> 跨校区老师查询</h3>
			</div>
			<div class="am-panel-bd">
				<form class="am-form am-form-inline" action="" method="GET">
					<div class="am-form-group">
						<input type="text" name="keyword" class="am-form-field" placeholder="姓名/手机号" value="<?php echo I('keyword'); ?>">
					</div>
					<button type="submit" class="am-btn am-btn-primary"><i class="am-icon-search"></i> 搜索</button>
					<a href="<?php echo U('Admin/Campus/crossCampusTeacher'); ?>" class="am-btn am-btn-default">清空</a>
				</form>
			</div>
		</div>

		<table class="am-table am-table-bordered am-table-striped am-table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>性别</th>
					<th>所属校区</th>
					<th>教授课程</th>
					<th>入职时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<?php if(!empty($list)): foreach($list as $vo): ?>
				<tr>
					<td><?php echo $vo['id']; ?></td>
					<td><?php echo $vo['username']; ?></td>
					<td><?php echo $vo['my_mobile']; ?></td>
					<td><?php if($vo['sex'] == 1): ?>男<?php else: ?>女<?php endif; ?></td>
					<td><span class="am-badge am-badge-primary"><?php echo $vo['campus_name']; ?></span></td>
					<td><span class="am-badge am-badge-success"><?php echo $vo['course_count']; ?></span> 门</td>
					<td><?php echo $vo['add_time'] ? date('Y-m-d', $vo['add_time']) : '-'; ?></td>
					<td>
						<a href="<?php echo U('Teacher/view', array('id'=>$vo['id'])); ?>">详情</a>
						<a href="<?php echo U('Teacher/edit', array('id'=>$vo['id'])); ?>">编辑</a>
					</td>
				</tr>
				<?php endforeach; else: ?>
				<tr>
					<td colspan="8" class="am-text-center">暂无数据</td>
				</tr>
				<?php endif; ?>
			</tbody>
		</table>
	</div>
</div>
<!-- right content end  -->

<include file="Public/Footer" />
