<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>编辑校区 - SchoolCMS</title>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome-4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-8 am-u-sm-centered">
                <div class="am-panel am-panel-warning">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><i class="fa fa-edit"></i> 编辑校区</h3>
                    </div>
                    <div class="am-panel-bd">
                        <form class="am-form am-form-horizontal" action="__SELF__" method="POST">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">校区名称 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-7">
                                    <input type="text" name="name" class="am-form-field" value="{$info.name}" placeholder="请输入校区名称" required>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">校区编码</label>
                                <div class="am-u-sm-7">
                                    <input type="text" name="code" class="am-form-field" value="{$info.code}" placeholder="如: HQ, CD, SH">
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">校区地址</label>
                                <div class="am-u-sm-7">
                                    <input type="text" name="address" class="am-form-field" value="{$info.address}" placeholder="详细地址">
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">联系电话</label>
                                <div class="am-u-sm-7">
                                    <input type="text" name="phone" class="am-form-field" value="{$info.phone}" placeholder="校区联系电话">
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">负责人</label>
                                <div class="am-u-sm-7">
                                    <input type="text" name="principal" class="am-form-field" value="{$info.principal}" placeholder="校区负责人姓名">
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">状态</label>
                                <div class="am-u-sm-7">
                                    <select name="status" class="am-form-field">
                                        <option value="1" <if condition="$info['status'] eq 1">selected</if>>启用</option>
                                        <option value="0" <if condition="$info['status'] eq 0">selected</if>>禁用</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <button type="submit" class="am-btn am-btn-primary am-btn-block">
                                        <i class="am-icon-check"></i> 保存修改
                                    </button>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <a href="__CONTROLLER__/index" class="am-btn am-btn-default am-btn-block">
                                        <i class="am-icon-arrow-left"></i> 返回列表
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
</body>
</html>
