<include file="Public/Header" />
<include file="Public/Nav" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- table nav start -->
		<include file="Nav" />
		<!-- table nav end -->

		<div class="am-panel am-panel-primary">
			<div class="am-panel-hd">
				<h3 class="am-panel-title"><i class="am-icon-university"></i> 校区管理</h3>
			</div>
			<div class="am-panel-bd">
				<div class="am-btn-toolbar">
					<a href="<?php echo U('Admin/Campus/add'); ?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-plus"></i> 添加校区</a>
					<a href="<?php echo U('Admin/Campus/crossCampusStudent'); ?>" class="am-btn am-btn-success am-radius"><i class="am-icon-users"></i> 跨校学员</a>
					<a href="<?php echo U('Admin/Campus/crossCampusTeacher'); ?>" class="am-btn am-btn-warning am-radius"><i class="am-icon-user"></i> 跨校老师</a>
				</div>
				<table class="am-table am-table-bordered am-table-striped am-table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>校区名称</th>
							<th>站点名称</th>
							<th>子域名</th>
							<th>主题色</th>
							<th>备案号</th>
							<th>到期时间</th>
							<th>编码</th>
							<th>地址</th>
							<th>电话</th>
							<th>负责人</th>
							<th>学员数</th>
							<th>老师数</th>
							<th>班级数</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<?php if(!empty($list)): foreach($list as $vo): ?>
						<tr>
							<td><?php echo $vo['id']; ?></td>
							<td><?php echo $vo['name']; ?></td>
							<td><?php echo $vo['site_name'] ?: '-'; ?></td>
							<td><?php echo $vo['domain'] ?: '-'; ?></td>
							<td><?php if($vo['theme_color']): ?><span style="display:inline-block;width:20px;height:20px;background:<?php echo $vo['theme_color']; ?>;border:1px solid #ccc;border-radius:3px;vertical-align:middle;"></span> <?php echo $vo['theme_color']; ?><?php else: ?>-<?php endif; ?></td>
							<td><?php echo $vo['icp'] ?: '-'; ?></td>
							<td><?php echo $vo['expire_date']; ?></td>
							<td><?php echo $vo['code']; ?></td>
							<td><?php echo $vo['address']; ?></td>
							<td><?php echo $vo['phone']; ?></td>
							<td><?php echo $vo['principal']; ?></td>
							<td><span class="am-badge am-badge-primary"><?php echo $vo['student_count']; ?></span></td>
							<td><span class="am-badge am-badge-success"><?php echo $vo['teacher_count']; ?></span></td>
							<td><span class="am-badge am-badge-warning"><?php echo $vo['class_count']; ?></span></td>
							<td><?php echo $vo['status_text']; ?></td>
							<td>
								<a href="<?php echo U('Admin/Campus/overview', array('id'=>$vo['id'])); ?>" class="am-btn am-btn-xs am-btn-secondary am-radius">数据</a>
								<a href="<?php echo U('Admin/Campus/edit', array('id'=>$vo['id'])); ?>" class="am-btn am-btn-xs am-btn-primary am-radius">编辑</a>
								<a href="javascript:;" onclick="deleteConfirm('<?php echo U('Admin/Campus/delete', array('id'=>$vo['id'])); ?>')" class="am-btn am-btn-xs am-btn-danger am-radius">删除</a>
							</td>
						</tr>
						<?php endforeach; else: ?>
						<tr><td colspan="16" class="am-text-center">暂无校区数据</td></tr>
						<?php endif; ?>
					</tbody>
				</table>
				<div class="am-cf">
					<div class="am-fr"><?php echo $page; ?></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<include file="Public/Footer" />

<script>
function deleteConfirm(url) {
	if(confirm('确定要删除吗？')) {
		location.href = url;
	}
}
</script>
