<include file="Public/Header" />
<include file="Public/Nav" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<div class="am-panel am-panel-warning">
			<div class="am-panel-hd">
				<h3 class="am-panel-title"><i class="fa fa-edit"></i> 编辑校区</h3>
			</div>
			<div class="am-panel-bd">
				<form class="am-form am-form-horizontal form-validation" action="<?php echo U('Admin/Campus/save'); ?>" method="POST">
					<input type="hidden" name="id" value="<?php echo $info['id']; ?>">

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">校区名称 <span class="am-text-danger">*</span></label>
						<div class="am-u-sm-7">
							<input type="text" name="name" class="am-form-field" value="<?php echo $info['name']; ?>" placeholder="请输入校区名称" required>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">校区编码</label>
						<div class="am-u-sm-7">
							<input type="text" name="code" class="am-form-field" value="<?php echo $info['code']; ?>" placeholder="如: HQ, CD, SH">
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">校区地址</label>
						<div class="am-u-sm-7">
							<input type="text" name="address" class="am-form-field" value="<?php echo $info['address']; ?>" placeholder="详细地址">
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">联系电话</label>
						<div class="am-u-sm-7">
							<input type="text" name="phone" class="am-form-field" value="<?php echo $info['phone']; ?>" placeholder="校区联系电话">
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">负责人</label>
						<div class="am-u-sm-7">
							<input type="text" name="principal" class="am-form-field" value="<?php echo $info['principal']; ?>" placeholder="校区负责人姓名">
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">状态</label>
						<div class="am-u-sm-7">
							<select name="status" class="am-form-field">
								<option value="1" <?php if($info['status'] == 1): ?>selected<?php endif; ?>>启用</option>
								<option value="0" <?php if($info['status'] == 0): ?>selected<?php endif; ?>>禁用</option>
							</select>
						</div>
					</div>

					<div class="am-form-group">
						<div class="am-u-sm-7 am-u-sm-offset-3">
							<button type="submit" class="am-btn am-btn-primary am-radius"><i class="am-icon-check"></i> 保存修改</button>
							<a href="<?php echo U('Admin/Campus/index'); ?>" class="am-btn am-btn-default am-radius"><i class="am-icon-arrow-left"></i> 返回列表</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<include file="Public/Footer" />
