<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:U('Admin/Finance/Income')}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="订单号/学员姓名" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"</present> />
				<select name="type" class="am-radius c-p m-l-5">
					<option value="">全部类型</option>
					<option value="1" <if condition="isset($param['type']) and $param['type'] eq 1">selected</if>>课程报名</option>
					<option value="2" <if condition="isset($param['type']) and $param['type'] eq 2">selected</if>>资料购买</option>
					<option value="3" <if condition="isset($param['type']) and $param['type'] eq 3">selected</if>>续费</option>
					<option value="4" <if condition="isset($param['type']) and $param['type'] eq 4">selected</if>>其他</option>
				</select>
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">{{:L('common_operation_query')}}</button>
			</div>
		</form>
		<!-- form end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>ID</th>
					<th>订单号</th>
					<th>学员姓名</th>
					<th>金额</th>
					<th>类型</th>
					<th>支付方式</th>
					<th>时间</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}">
							<td>{{$v.id}}</td>
							<td>{{$v.order_no}}</td>
							<td>{{$v.student_name}}</td>
							<td class="am-text-primary">¥{{$v.amount}}</td>
							<td>
								<if condition="$v['type'] eq 1"><span class="am-badge am-badge-primary">课程报名</span>
								<elseif condition="$v['type'] eq 2" /><span class="am-badge am-badge-success">资料购买</span>
								<elseif condition="$v['type'] eq 3" /><span class="am-badge am-badge-warning">续费</span>
								<else /><span class="am-badge am-badge-secondary">其他</span>
								</if>
							</td>
							<td>{{$v.pay_method}}</td>
							<td>{{$v.add_time}}</td>
							<td>
								<if condition="$v['status'] eq 0"><span class="am-badge">待支付</span>
								<elseif condition="$v['status'] eq 1" /><span class="am-badge am-badge-success">已支付</span>
								<else /><span class="am-badge am-badge-danger">已退款</span>
								</if>
							</td>
						</tr>
					</foreach>
				<else />
					<tr><td colspan="8" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		<if condition="!empty($list)">
			{{$page_html}}
		</if>
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->