<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<legend>
			<span class="fs-16">成绩管理</span>
		</legend>

		<!-- form start -->
		<form class="am-form view-list" action="{{:U('Admin/Score/Index')}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="学员姓名" name="student_name" <present name="param['student_name']"> value="{{$param.student_name}}"</present> />
				<select name="semester_id" class="am-radius c-p m-l-5">
					<option value="">全部学期</option>
					<volist name="semester_list" id="v">
						<option value="{{$v.id}}" <if condition="isset($param['semester_id']) and $param['semester_id'] eq $v['id']">selected</if>>{{$v.name}}</option>
					</volist>
				</select>
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">{{:L('common_operation_query')}}</button>
			</div>
		</form>
		<!-- form end -->

		<!-- operation start -->
		<div class="am-g m-t-15">
			<a href="{{:U('Admin/Score/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 录入成绩</a>
		</div>
		<!-- operation end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>ID</th>
					<th>学员姓名</th>
					<th>科目</th>
					<th>成绩</th>
					<th>学期</th>
					<th>考试时间</th>
					<th>{{:L('common_operation_name')}}</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}">
							<td>{{$v.id}}</td>
							<td>{{$v.student_name}}</td>
							<td>{{$v.subject_name}}</td>
							<td>
								<if condition="$v['score'] ge 90"><span class="am-badge am-badge-success">{{$v.score}}</span>
								<elseif condition="$v['score'] ge 60" /><span class="am-badge am-badge-warning">{{$v.score}}</span>
								<else /><span class="am-badge am-badge-danger">{{$v.score}}</span>
								</if>
							</td>
							<td>{{$v.semester_name}}</td>
							<td>{{$v.exam_time}}</td>
							<td class="view-operation">
								<a href="{{:U('Admin/Score/SaveInfo', array('id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '{{:L('common_operation_edit')}}', trigger: 'hover focus'}"></button>
								</a>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/Score/Delete')}}" data-id="{{$v.id}}"></button>
							</td>
						</tr>
					</foreach>
				<else />
					<tr><td colspan="7" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		<if condition="!empty($list)">
			{{$page_html}}
		</if>
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->