<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:U('Admin/Student/Index')}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="学员姓名/手机号" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"</present> />
				<select name="class_id" class="am-radius c-p m-l-5">
					<option value="">全部班级</option>
					<volist name="class_list" id="v">
						<option value="{{$v.id}}" <if condition="isset($param['class_id']) and $param['class_id'] eq $v['id']">selected</if>>{{$v.name}}</option>
					</volist>
				</select>
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">{{:L('common_operation_query')}}</button>
			</div>
		</form>
		<!-- form end -->

		<!-- operation start -->
		<div class="am-g m-t-15">
			<a href="{{:U('Admin/Student/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 新增学员</a>
			<a href="{{:U('Admin/Student/ExcelImport')}}" class="am-btn am-btn-default am-radius am-btn-xs m-l-10 am-icon-upload"> 导入</a>
			<a href="{{:U('Admin/Student/ExcelExport')}}" class="am-btn am-btn-default am-radius am-btn-xs m-l-10 am-icon-download"> 导出</a>
		</div>
		<!-- operation end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>ID</th>
					<th>姓名</th>
					<th>性别</th>
					<th>手机号</th>
					<th>班级</th>
					<th>状态</th>
					<th>报名日期</th>
					<th>{{:L('common_operation_name')}}</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}">
							<td>{{$v.id}}</td>
							<td>{{$v.name}}</td>
							<td><include file="Default/Lib/Gender" /></td>
							<td>{{$v.mobile}}</td>
							<td>{{$v.class_name}}</td>
							<td><include file="Default/Lib/StudentState" /></td>
							<td>{{$v.add_time}}</td>
							<td class="view-operation">
								<a href="{{:U('Admin/Student/SaveInfo', array('id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '{{:L('common_operation_edit')}}', trigger: 'hover focus'}"></button>
								</a>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/Student/Delete')}}" data-id="{{$v.id}}"></button>
							</td>
						</tr>
					</foreach>
				<else />
					<tr><td colspan="8" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		<if condition="!empty($list)">
			{{$page_html}}
		</if>
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->