<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<legend>
			<span class="fs-16">班级统计</span>
			<a href="{{:U('Admin/Stats/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
		</legend>

		<!-- 统计卡片 -->
		<div class="am-g m-t-15">
			<div class="am-u-sm-4">
				<div class="am-panel am-panel-primary am-radius">
					<div class="am-panel-bd am-text-center">
						<p class="am-text-xxl">{{$total_classes}}</p>
						<p class="am-text-default">班级总数</p>
					</div>
				</div>
			</div>
			<div class="am-u-sm-4">
				<div class="am-panel am-panel-success am-radius">
					<div class="am-panel-bd am-text-center">
						<p class="am-text-xxl">{{$total_students}}</p>
						<p class="am-text-default">在读学员</p>
					</div>
				</div>
			</div>
			<div class="am-u-sm-4">
				<div class="am-panel am-panel-warning am-radius">
					<div class="am-panel-bd am-text-center">
						<p class="am-text-xxl">{{$avg_attendance}}%</p>
						<p class="am-text-default">平均出勤率</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 班级列表 -->
		<div class="am-panel am-panel-default am-radius m-t-15">
			<div class="am-panel-hd">班级统计列表</div>
			<div class="am-panel-bd">
				<table class="am-table am-table-striped am-table-hover">
					<thead>
						<tr>
							<th>班级名称</th>
							<th>任课教师</th>
							<th>学员人数</th>
							<th>平均成绩</th>
							<th>出勤率</th>
							<th>课程进度</th>
						</tr>
					</thead>
					<tbody>
						<if condition="!empty($list)">
							<foreach name="list" item="v">
								<tr>
									<td>{{$v.class_name}}</td>
									<td>{{$v.teacher_name}}</td>
									<td>{{$v.student_count}}</td>
									<td>{{$v.avg_score}}</td>
									<td>{{$v.attendance_rate}}%</td>
									<td>{{$v.course_progress}}%</td>
								</tr>
							</foreach>
						<else />
							<tr><td colspan="6" class="am-text-center">{{:L('common_not_data_tips')}}</td></tr>
						</if>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->