<include file="Public/Header" />
<include file="Public/Nav" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<div class="am-panel am-panel-primary">
			<div class="am-panel-hd">
				<h3 class="am-panel-title"><i class="am-icon-file"></i> 备课资源</h3>
			</div>
			<div class="am-panel-bd">
				<div class="am-g am-margin-bottom">
					<div class="am-u-sm-12">
						<form method="get" class="am-form-inline" action="<?php echo U('Admin/Resource/index'); ?>">
							<div class="am-form-group">
								<input type="text" name="keyword" class="am-form-field" placeholder="资源名称" value="<?php echo I('keyword'); ?>">
							</div>
							<div class="am-form-group">
								<select name="type" class="am-form-field">
									<option value="">全部类型</option>
									<option value="doc" <?php if(I('type') == 'doc'): ?>selected<?php endif; ?>>文档</option>
									<option value="ppt" <?php if(I('type') == 'ppt'): ?>selected<?php endif; ?>>PPT</option>
									<option value="img" <?php if(I('type') == 'img'): ?>selected<?php endif; ?>>图片</option>
									<option value="video" <?php if(I('type') == 'video'): ?>selected<?php endif; ?>>视频</option>
									<option value="audio" <?php if(I('type') == 'audio'): ?>selected<?php endif; ?>>音频</option>
								</select>
							</div>
							<button type="submit" class="am-btn am-btn-default"><i class="am-icon-search"></i> 搜索</button>
							<a href="<?php echo U('Admin/Resource/upload'); ?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-upload"></i> 上传资源</a>
						</form>
					</div>
				</div>
				<table class="am-table am-table-bordered am-table-striped am-table-hover">
					<thead>
						<tr>
							<th class="am-text-center">ID</th>
							<th>资源名称</th>
							<th>类型</th>
							<th>大小</th>
							<th>上传者</th>
							<th>上传时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<?php if(!empty($list)): foreach($list as $vo): ?>
						<tr>
							<td class="am-text-center"><?php echo $vo['id']; ?></td>
							<td><?php echo $vo['title']; ?></td>
							<td><?php echo $vo['type_text']; ?></td>
							<td><?php echo $vo['file_size_text']; ?></td>
							<td><?php echo $vo['teacher_name']; ?></td>
							<td><?php echo $vo['create_time']; ?></td>
							<td>
								<a href="<?php echo U('Admin/Resource/save', array('id'=>$vo['id'])); ?>" class="am-btn am-btn-xs am-btn-primary am-radius"><i class="am-icon-edit"></i> 编辑</a>
								<a href="<?php echo U('Admin/Resource/share', array('resource_id'=>$vo['id'])); ?>" class="am-btn am-btn-xs am-btn-warning am-radius"><i class="am-icon-share"></i> 分享</a>
								<a href="javascript:;" onclick="deleteConfirm('<?php echo U('Admin/Resource/delete', array('id'=>$vo['id'])); ?>')" class="am-btn am-btn-xs am-btn-danger am-radius"><i class="am-icon-trash"></i> 删除</a>
							</td>
						</tr>
						<?php endforeach; else: ?>
						<tr>
							<td colspan="7" class="am-text-center am-text-danger">暂无资源</td>
						</tr>
						<?php endif; ?>
					</tbody>
				</table>
				<div class="am-cf">
					<div class="am-fr"><?php echo $page; ?></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<include file="Public/Footer" />

<script>
function deleteConfirm(url) {
	if(confirm('确定要删除此资源吗？此操作不可恢复！')) {
		location.href = url;
	}
}
</script>
