<include file="Public/Header" />
<include file="Public/Nav" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<div class="am-panel am-panel-warning">
			<div class="am-panel-hd">
				<h3 class="am-panel-title"><i class="fa fa-edit"></i> <?php if(!empty($info)): ?>编辑资源<?php else: ?>添加资源<?php endif; ?></h3>
			</div>
			<div class="am-panel-bd">
				<form class="am-form am-form-horizontal" action="<?php echo U('Admin/Resource/save'); ?>" method="POST">
					<input type="hidden" name="id" value="<?php echo I('id'); ?>">

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">资源名称 <span class="am-text-danger">*</span></label>
						<div class="am-u-sm-7">
							<input type="text" name="title" class="am-form-field" value="<?php echo !empty($info['title']) ? $info['title'] : ''; ?>" placeholder="请输入资源名称" required>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">所属课程</label>
						<div class="am-u-sm-7">
							<select name="course_id" class="am-form-field">
								<option value="">请选择课程</option>
								<?php if(!empty($courses)): foreach($courses as $course): ?>
								<option value="<?php echo $course['id']; ?>" <?php if(!empty($info['course_id']) && $info['course_id'] == $course['id']): ?>selected<?php endif; ?>><?php echo $course['course_name']; ?></option>
								<?php endforeach; endif; ?>
							</select>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">资源描述</label>
						<div class="am-u-sm-7">
							<textarea name="description" class="am-form-field" rows="4" placeholder="请输入资源描述"><?php echo !empty($info['description']) ? $info['description'] : ''; ?></textarea>
						</div>
					</div>

					<div class="am-form-group">
						<div class="am-u-sm-7 am-u-sm-offset-3">
							<button type="submit" class="am-btn am-btn-primary am-radius"><i class="am-icon-check"></i> 保存</button>
							<a href="<?php echo U('Admin/Resource/index'); ?>" class="am-btn am-btn-default am-radius"><i class="am-icon-arrow-left"></i> 返回列表</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<include file="Public/Footer" />
