<include file="Public/Header" />
<include file="Public/Nav" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<div class="am-panel am-panel-warning">
			<div class="am-panel-hd">
				<h3 class="am-panel-title"><i class="fa fa-share-alt"></i> 分享设置</h3>
			</div>
			<div class="am-panel-bd">
				<form class="am-form am-form-horizontal" action="<?php echo U('Admin/Resource/share'); ?>" method="POST">
					<input type="hidden" name="resource_id" value="<?php echo I('resource_id'); ?>">

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">当前状态</label>
						<div class="am-u-sm-7 am-padding-top-xs">
							<?php if($info['is_shared'] == 1): ?>
								<span class="am-badge am-badge-success"><i class="am-icon-check"></i> 已共享</span>
							<?php else: ?>
								<span class="am-badge am-badge-default"><i class="am-icon-lock"></i> 私有</span>
							<?php endif; ?>
						</div>
					</div>

					<div class="am-form-group">
						<label class="am-u-sm-3 am-text-right">选择课程</label>
						<div class="am-u-sm-7">
							<select name="course_id" class="am-form-field">
								<option value="">请选择课程</option>
								<?php if(!empty($courses)): foreach($courses as $course): ?>
								<option value="<?php echo $course['id']; ?>"><?php echo $course['course_name']; ?></option>
								<?php endforeach; endif; ?>
							</select>
						</div>
					</div>

					<div class="am-form-group">
						<div class="am-u-sm-7 am-u-sm-offset-3">
							<button type="submit" class="am-btn am-btn-primary am-radius"><i class="am-icon-check"></i> 确认分享</button>
							<a href="<?php echo U('Admin/Resource/index'); ?>" class="am-btn am-btn-default am-radius"><i class="am-icon-arrow-left"></i> 返回列表</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- right content end  -->

<include file="Public/Footer" />
