<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>分享设置 - SchoolCMS</title>
    <link rel="stylesheet" href="/Public/AmazeUI/css/amazeui.min.css">
    <link rel="stylesheet" href="/Public/font-awesome-4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top am-padding-top-sm">
            <div class="am-u-sm-10 am-u-sm-centered">
                <div class="am-panel am-panel-warning">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><i class="fa fa-share-alt"></i> 分享设置 - <?php echo $info['name']; ?></h3>
                    </div>
                    <div class="am-panel-bd">
                        <form class="am-form am-form-horizontal" action="" method="POST">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">当前状态</label>
                                <div class="am-u-sm-7 am-padding-top-xs">
                                    <?php if($info['is_shared'] == 1): ?>
                                        <span class="am-badge am-badge-success"><i class="am-icon-check"></i> 已共享</span>
                                    <else/>
                                        <span class="am-badge am-badge-default"><i class="am-icon-lock"></i> 私有</span>
                                    <?php endif; ?>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">分享方式</label>
                                <div class="am-u-sm-7">
                                    <select name="share_type" class="am-form-field" id="shareType">
                                        <option value="0" <?php if($info['share_type'] == 0): ?>selected<?php endif; ?>>不共享</option>
                                        <option value="1" <?php if($info['share_type'] == 1): ?>selected<?php endif; ?>>按班级分享</option>
                                        <option value="2" <?php if($info['share_type'] == 2): ?>selected<?php endif; ?>>按课程分享</option>
                                        <option value="3" <?php if($info['share_type'] == 3): ?>selected<?php endif; ?>>公开分享</option>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group" id="classSelect" style="display:none;">
                                <label class="am-u-sm-3 am-text-right">选择班级</label>
                                <div class="am-u-sm-7">
                                    <select name="class_id" class="am-form-field">
                                        <option value="">请选择班级</option>
                                        <?php foreach($$classList as $$class): ?>
                                        <option value="<?php echo $class['id']; ?>"><?php echo $class['name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group" id="courseSelect" style="display:none;">
                                <label class="am-u-sm-3 am-text-right">选择课程</label>
                                <div class="am-u-sm-7">
                                    <select name="course_id" class="am-form-field">
                                        <option value="">请选择课程</option>
                                        <?php foreach($$courseList as $$course): ?>
                                        <option value="<?php echo $course['id']; ?>"><?php echo $course['name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">分享说明</label>
                                <div class="am-u-sm-7">
                                    <textarea name="share_desc" class="am-form-field" rows="3" placeholder="可选：添加分享说明"><?php echo $info['share_desc']; ?></textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <button type="submit" class="am-btn am-btn-primary am-btn-block">
                                        <i class="am-icon-save"></i> 保存分享设置
                                    </button>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <a href="/index" class="am-btn am-btn-default am-btn-block">
                                        <i class="am-icon-arrow-left"></i> 返回列表
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Public/AmazeUI/js/amazeui.min.js"></script>
<script>
$(function() {
    function toggleShareOptions() {
        var shareType = $('#shareType').val();
        $('#classSelect').hide();
        $('#courseSelect').hide();
        if(shareType == 1) {
            $('#classSelect').show();
        } else if(shareType == 2) {
            $('#courseSelect').show();
        }
    }
    $('#shareType').change(toggleShareOptions);
    toggleShareOptions();
});
</script>
</body>
</html>
