<include file="Public/Header" />

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form view-list" action="{{:U('Admin/Live/Replay')}}" method="POST">
			<div class="am-g">
				<input type="text" class="am-radius form-keyword" placeholder="课程名称" name="keyword" <present name="param['keyword']"> value="{{$param.keyword}}"</present> />
				<button type="submit" class="am-btn am-btn-secondary am-btn-sm am-radius form-submit">搜索</button>
			</div>
		</form>
		<!-- form end -->

		<!-- list start -->
		<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
			<thead>
				<tr>
					<th>ID</th>
					<th>课程名称</th>
					<th>回放标题</th>
					<th>时长</th>
					<th>播放次数</th>
					<th>创建时间</th>
					<th>{{:L('common_operation_name')}}</th>
				</tr>
			</thead>
			<tbody>
				<if condition="!empty($list)">
					<foreach name="list" item="v">
						<tr id="data-list-{{$v.id}}">
							<td>{{$v.id}}</td>
							<td>{{$v.course_name}}</td>
							<td>{{$v.title}}</td>
							<td>{{$v.duration}}</td>
							<td>{{$v.play_count}}</td>
							<td>{{$v.add_time}}</td>
							<td class="view-operation">
								<a href="{{:U('Admin/Live/PlayReplay', array('id'=>$v['id']))}}" target="_blank">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-play" data-am-popover="{content: '播放', trigger: 'hover focus'}"></button>
								</a>
								<a href="{{:U('Admin/Live/EditReplay', array('id'=>$v['id']))}}">
									<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '{{:L('common_operation_edit')}}', trigger: 'hover focus'}"></button>
								</a>
								<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:U('Admin/Live/DeleteReplay')}}" data-id="{{$v.id}}"></button>
							</td>
						</tr>
					</foreach>
				<else />
					<tr><td colspan="7" class="table-no">{{:L('common_not_data_tips')}}</td></tr>
				</if>
			</tbody>
		</table>
		<!-- list end -->

		<!-- page start -->
		<if condition="!empty($list)">
			{{$page_html}}
		</if>
		<!-- page end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->