<div class="am-cf bubble-nav">
	<if condition="I('type') eq 'own'">
		<a href="{{:U('Home/Bubble/Index')}}" class="am-btn am-btn-default am-btn-sm am-radius am-fl <if condition="1 neq 1">am-active</if>">{{:L('bubble_nav_list_all_name')}}</a>
		<a href="{{:U('Home/Bubble/Index', array('type'=>'own'))}}" class="am-btn am-btn-default am-btn-sm am-radius am-fl am-active">{{:L('bubble_nav_list_own_name')}}</a>
	<else />
		<a href="{{:U('Home/Bubble/Index')}}" class="am-btn am-btn-default am-btn-sm am-radius am-fl am-active">{{:L('bubble_nav_list_all_name')}}</a>
		<a href="{{:U('Home/Bubble/Index', array('type'=>'own'))}}" class="am-btn am-btn-default am-btn-sm am-radius am-fl <if condition="1 neq 1">am-active</if>">{{:L('bubble_nav_list_own_name')}}</a>
	</if>
</div>