<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>完成学习计划</title>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome-4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-sm-centered">
                <div class="am-panel am-panel-success">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><i class="am-icon-check-circle"></i> 完成学习计划</h3>
                    </div>
                    <div class="am-panel-bd">
                        <div class="am-alert am-alert-success am-text-center" data-am-alert>
                            <i class="am-icon-smile-o am-icon-lg"></i>
                            <p class="am-margin-top-sm">确定要将该学习计划标记为完成吗？</p>
                        </div>
                        
                        <div class="am-panel am-panel-default am-margin-top">
                            <div class="am-panel-bd">
                                <table class="am-table">
                                    <tr>
                                        <th width="100">计划ID</th>
                                        <td>{$info.id}</td>
                                    </tr>
                                    <tr>
                                        <th>计划标题</th>
                                        <td>{$info.title}</td>
                                    </tr>
                                    <tr>
                                        <th>目标日期</th>
                                        <td>{$info.target_date}</td>
                                    </tr>
                                    <tr>
                                        <th>当前状态</th>
                                        <td>
                                            <if condition="$info['status'] eq 0">
                                                <span class="am-badge am-badge-warning">进行中</span>
                                            <else />
                                                <span class="am-badge am-badge-success">已完成</span>
                                            </if>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-6">
                                <a href="{:U('complete?id='.$info['id'])}" class="am-btn am-btn-success am-btn-block" onclick="return confirm('确定完成该计划？')">
                                    <i class="am-icon-check"></i> 确认完成
                                </a>
                            </div>
                            <div class="am-u-sm-6">
                                <a href="{:U('index')}" class="am-btn am-btn-default am-btn-block">
                                    <i class="am-icon-arrow-left"></i> 返回列表
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/static/js/jquery-2.0.0.min.js"></script>
<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
</body>
</html>
