<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>课后反馈管理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">课后反馈管理</h3>
    </div>
    <div class="panel-body">
        <form method="get" class="form-inline search-form">
            <div class="form-group">
                <select name="class_id" class="form-control">
                    <option value="">全部班级</option>
                    <volist name="classes" id="c">
                        <option value="{$c.id}" {:I('class_id')==$c['id']?'selected':''}>{$c.name}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group">
                <select name="teacher_id" class="form-control">
                    <option value="">全部老师</option>
                    <volist name="teachers" id="t">
                        <option value="{$t.id}" {:I('teacher_id')==$t['id']?'selected':''}>{$t.name}</option>
                    </volist>
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="start_date" class="form-control datepicker" placeholder="开始日期" value="{:I('start_date')}">
            </div>
            <div class="form-group">
                <input type="text" name="end_date" class="form-control datepicker" placeholder="结束日期" value="{:I('end_date')}">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
            <a href="{:U('add')}" class="btn btn-success">添加反馈</a>
        </form>
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>班级</th>
                    <th>老师</th>
                    <th>反馈内容</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="item">
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.class_name}</td>
                    <td>{$item.teacher_name}</td>
                    <td>{$item.content|msubstr=0,80}</td>
                    <td>{$item.create_time|date='Y-m-d H:i',###}</td>
                    <td>
                        <a href="{:U('view?id='.$item['id'])}" class="btn btn-xs btn-info">查看</a>
                        <a href="{:U('edit?id='.$item['id'])}" class="btn btn-xs btn-primary">编辑</a>
                        <a href="{:U('delete?id='.$item['id'])}" class="btn btn-xs btn-danger" onclick="return confirm('确定删除?')">删除</a>
                    </td>
                </tr>
                </volist>
            </tbody>
        </table>
        
        {$page}
    </div>
</div>
</body>
</html>