<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加转校申请 - SchoolCMS</title>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome-4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top am-padding-top-sm">
            <div class="am-u-sm-10 am-u-sm-centered">
                <div class="am-panel am-panel-warning">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><i class="fa fa-edit"></i> 添加转校申请</h3>
                    </div>
                    <div class="am-panel-bd">
                        <form class="am-form am-form-horizontal" action="<?php echo U('Admin/Transfer/add'); ?>" method="POST">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">选择学员 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-7">
                                    <select name="student_id" class="am-form-field" required>
                                        <option value="">请选择学员</option>
                                        <?php if(!empty($studentList)): foreach($studentList as $student): ?>
                                        <option value="<?php echo $student['id']; ?>"><?php echo $student['username']; ?> (<?php echo $student['number']; ?>)</option>
                                        <?php endforeach; endif; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">原校区 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-7">
                                    <select name="from_campus_id" class="am-form-field" required>
                                        <option value="">请选择原校区</option>
                                        <?php if(!empty($campusList)): foreach($campusList as $campus): ?>
                                        <option value="<?php echo $campus['id']; ?>"><?php echo $campus['name']; ?></option>
                                        <?php endforeach; endif; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">目标校区 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-7">
                                    <select name="to_campus_id" class="am-form-field" required>
                                        <option value="">请选择目标校区</option>
                                        <?php if(!empty($campusList)): foreach($campusList as $campus): ?>
                                        <option value="<?php echo $campus['id']; ?>"><?php echo $campus['name']; ?></option>
                                        <?php endforeach; endif; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-text-right">转校原因 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-7">
                                    <textarea name="reason" class="am-form-field" rows="4" placeholder="请详细说明转校原因" required></textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <button type="submit" class="am-btn am-btn-primary am-btn-block">
                                        <i class="am-icon-check"></i> 提交申请
                                    </button>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-7 am-u-sm-offset-3">
                                    <a href="<?php echo U('Admin/Transfer/index'); ?>" class="am-btn am-btn-default am-btn-block">
                                        <i class="am-icon-arrow-left"></i> 返回列表
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
</body>
</html>
