<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单支付</title>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css">
</head>
<body>
<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-sm-centered">
                <div class="am-panel am-panel-success">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><i class="am-icon-credit-card"></i> 订单支付</h3>
                    </div>
                    <div class="am-panel-bd">
                        <form class="am-form am-form-horizontal" id="payForm">
                            <input type="hidden" name="id" value="{:I('id')}">
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-4 am-text-right">订单号</label>
                                <div class="am-u-sm-6">
                                    <p class="am-form-field-static" id="orderNo">{$order.order_no}</p>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-4 am-text-right">学员</label>
                                <div class="am-u-sm-6">
                                    <p class="am-form-field-static">{$order.student_name}</p>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-4 am-text-right">订单金额</label>
                                <div class="am-u-sm-6">
                                    <p class="am-text-xl am-text-danger"><strong>¥{$order.total_amount}</strong></p>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-4 am-text-right">支付方式 <span class="am-text-danger">*</span></label>
                                <div class="am-u-sm-6">
                                    <select name="pay_type" class="am-form-field" required>
                                        <option value="wechat">微信支付</option>
                                        <option value="alipay">支付宝</option>
                                        <option value="cash">现金</option>
                                        <option value="bank">银行转账</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label class="am-u-sm-4 am-text-right">实收金额</label>
                                <div class="am-u-sm-6">
                                    <input type="number" name="pay_amount" step="0.01" class="am-form-field" value="{$order.total_amount}">
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <div class="am-u-sm-6 am-u-sm-offset-4">
                                    <div class="am-alert am-alert-warning">
                                        <i class="am-icon-info-circle"></i> 请确认收款后再操作
                                    </div>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <div class="am-u-sm-6 am-u-sm-offset-4">
                                    <button type="submit" class="am-btn am-btn-success am-btn-block">
                                        <i class="am-icon-check"></i> 确认收款
                                    </button>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <div class="am-u-sm-6 am-u-sm-offset-4">
                                    <a href="{:U('index')}" class="am-btn am-btn-default am-btn-block">返回列表</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/static/js/jquery-2.0.0.min.js"></script>
<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
<script>
$('#payForm').submit(function() {
    var formData = $(this).serialize();
    $.post('__SELF__', formData, function(res) {
        alert(res.msg);
        if (res.code) {
            location.href = '__CONTROLLER__/index';
        }
    });
    return false;
});
</script>
</body>
</html>
