<?php include dirname(__FILE__) . '/../Public/Header.html'; ?>

<!-- header nav start -->
<?php include dirname(__FILE__) . '/../Public/HeaderNav.html'; ?>
<!-- header nav end -->

<div class="am-cf user-main" <?php if(!empty($max_width_style)): ?>style="<?php echo $max_width_style; ?>"<?php endif; ?>>
	<!-- user menu start -->
	<?php include dirname(__FILE__) . '/../Public/UserMenu.html'; ?>
	<!-- user menu end -->

	<!-- content start -->
	<div class="user-content">
		<div class="user-content-body p-10">
			<?php include dirname(__FILE__) . '/Mood.html'; ?>
			<?php include dirname(__FILE__) . '/Nav.html'; ?>

			<!-- list start -->
			<?php if(!empty($data)): ?>
				<div id="mood-list">
					<?php foreach($data as $v): ?>
						<div class="am-panel am-panel-default am-radius list-content data-list-mood-<?php echo $v['id']; ?>">
							<div class="am-panel-bd">
								<div class="list-title o-h">
									<img src="__PUBLIC__/Common/Images/user-img-sm.gif" class="am-circle am-fl" width="48" height="48" />
									<div class="am-fl m-l-10 m-t-5">
										<span class="block">
											<a href="javascript:;"><?php echo $v['nickname']; ?></a>
										</span>
										<span class="block cr-999"><?php echo $v['add_time']; ?></span>
									</div>
									<?php if($v['user_id'] == $user['id']): ?>
										<div class="am-fr">
											<i class="am-icon-trash-o c-p cr-999 submit-delete" data-am-popover="{content: '<?php echo L('common_operation_delete'); ?>', trigger: 'hover focus'}" data-id="<?php echo $v['id']; ?>" data-url="<?php echo U('Home/Bubble/MoodDelete'); ?>" data-list-tag=".data-list-mood-<?php echo $v['id']; ?>"></i>
										</div>
									<?php endif; ?>
								</div>
								<div class="m-t-5"><?php echo $v['content']; ?></div>
								<div class="m-t-5 o-h">
									<span class="am-fr cr-999"><?php echo $v['comments_count']; ?></span>
									<i class="am-icon-commenting am-icon-sm am-fr m-l-30 c-p cr-999 comments-submit" data-id="<?php echo $v['id']; ?>" data-uid="<?php echo $v['user_id']; ?>"></i>
									<span class="am-fr cr-999"><?php echo $v['praise_count']; ?></span>
									<i class="am-icon-thumbs-up am-icon-sm am-fr c-p praise-submit <?php if($v['is_praise'] == 'ok'): ?>cr-blue<?php else: ?>cr-999<?php endif; ?>" data-id="<?php echo $v['id']; ?>" data-uid="<?php echo $v['user_id']; ?>" data-url="<?php echo U('Home/Bubble/MoodPraise'); ?>"></i>
								</div>
								<?php if(!empty($v['comments'])): ?>
									<div class="o-h data-list-mood-<?php echo $v['id']; ?>">
										<hr data-am-widget="divider" class="am-divider am-divider-dashed m-t-10 m-b-10" />
										<?php foreach($v['comments'] as $vc): ?>
											<div class="o-h m-t-10 am-radius comments-user data-comments-<?php echo $v['id']; ?>-<?php echo $vc['id']; ?>">
												<img src="__PUBLIC__/Common/Images/user-img-sm.gif" class="am-circle user-portrait" width="30" height="30" />
												<a href="javascript:;"><?php echo $vc['nickname']; ?></a>
												<span class="cr-999"><?php echo $vc['add_time']; ?></span>
												<div class="am-fr comments-item-tools">
													<?php if($vc['user_id'] != $user['id']): ?>
														<span class="c-p cr-999 reply-submit" data-id="<?php echo $v['id']; ?>" data-reply-id="<?php echo $vc['id']; ?>" data-parent-id="<?php echo $vc['id']; ?>" data-nickname="<?php echo $vc['nickname']; ?>">
															<i class="am-icon-mail-reply"></i> <?php echo L('common_operation_reply'); ?>
														</span>
													<?php endif; ?>
													<?php if($vc['user_id'] == $user['id']): ?>
														<span class="c-p cr-999 m-l-20 submit-delete" data-id="<?php echo $vc['id']; ?>" data-url="<?php echo U('Home/Bubble/MoodCommentsDelete'); ?>" data-list-tag=".data-comments-<?php echo $v['id']; ?>-<?php echo $vc['id']; ?>">
															<i class="am-icon-trash-o"></i><?php echo L('common_operation_delete'); ?>
														</span>
													<?php endif; ?>
												</div>
												<div><?php echo $vc['content']; ?></div>
											</div>
											<?php if(!empty($vc['item'])): ?>
												<?php foreach($vc['item'] as $vcs): ?>
													<div class="o-h m-t-10 am-radius comments-user m-l-30 data-comments-<?php echo $v['id']; ?>-<?php echo $vc['id']; ?> data-comments-<?php echo $v['id']; ?>-<?php echo $vc['id']; ?>-<?php echo $vcs['id']; ?> <?php if($vcs['reply_id'] > 0): ?>data-comments-reply-<?php echo $v['id']; ?>-<?php echo $vcs['reply_id']; ?><?php endif; ?>">
														<img src="__PUBLIC__/Common/Images/user-img-sm.gif" class="am-circle user-portrait" width="30" height="30" />
														<a href="javascript:;"><?php echo $vcs['nickname']; ?></a>
														<span><?php echo L('common_operation_reply'); ?></span>
														<a href="javascript:;"><?php echo $vcs['reply_nickname']; ?></a>
														<span class="cr-999"><?php echo $vcs['add_time']; ?></span>
														<div class="am-fr comments-item-tools">
															<?php if($vcs['user_id'] != $user['id']): ?>
																<span class="c-p cr-999 reply-submit" data-reply-id="<?php echo $vcs['id']; ?>" data-id="<?php echo $v['id']; ?>" data-parent-id="<?php echo $vc['id']; ?>" data-nickname="<?php echo $vcs['nickname']; ?>">
																	<i class="am-icon-mail-reply"></i> <?php echo L('common_operation_reply'); ?>
																</span>
															<?php endif; ?>
															<?php if($vcs['user_id'] == $user['id']): ?>
																<span class="c-p cr-999 m-l-20 submit-delete" data-id="<?php echo $vcs['id']; ?>" data-url="<?php echo U('Home/Bubble/MoodCommentsDelete'); ?>" data-list-tag=".data-comments-<?php echo $v['id']; ?>-<?php echo $vc['id']; ?>-<?php echo $vcs['id']; ?>, .data-comments-reply-<?php echo $v['id']; ?>-<?php echo $vcs['id']; ?>">
																	<i class="am-icon-trash-o"></i><?php echo L('common_operation_delete'); ?>
																</span>
															<?php endif; ?>
														</div>
														<div><?php echo $vcs['content']; ?></div>
													</div>
												<?php endforeach; ?>
											<?php endif; ?>
										<?php endforeach; ?>
									</div>
								<?php endif; ?>
							</div>
						</div>
					<?php endforeach; ?>
				</div>

				<!-- page start -->
				<?php echo $page_html; ?>
				<!-- page end -->

				<!-- comments win start -->
				<div class="am-modal am-modal-prompt" tabindex="-1" id="bubble-comments" data-url="<?php echo U('Home/Bubble/MoodComments'); ?>" data-mood-praise-msg="<?php echo L('bubble_mood_praise_error'); ?>" data-mood-comments-msg="<?php echo L('bubble_mood_comments_error'); ?>">
					<div class="am-modal-dialog am-radius">
						<div class="am-modal-hd"></div>
						<div class="am-modal-bd">
							<textarea rows="3" minlength="1" maxlength="255" class="am-radius am-modal-prompt-input" placeholder="<?php echo L('bubble_comments_placeholder'); ?>" data-validation-message="<?php echo L('bubble_comments_format'); ?>"></textarea>
						</div>
						<div class="am-modal-footer">
							<span class="am-modal-btn" data-am-modal-cancel><?php echo L('common_operation_cancel'); ?></span>
							<span class="am-modal-btn" data-am-modal-confirm><?php echo L('common_operation_comments'); ?></span>
						</div>
					</div>
				</div>
				<!-- comments win end -->

			<?php else: ?>
				<?php include dirname(__FILE__) . '/../Public/NoData.html'; ?>
			<?php endif; ?>
			<!-- list start -->
		</div>
	</div>
	<!-- content end -->
</div>

<!-- layuot common module start -->
<?php include dirname(__FILE__) . '/../Public/CommonModule.html'; ?>
<!-- layuot common module end -->

<!-- footer start -->
<?php include dirname(__FILE__) . '/../Public/Footer.html'; ?>
<!-- footer end -->
