<!-- form start -->
<form class="am-form form-validation" action="<?php echo U('Home/Bubble/MoodSave'); ?>" method="POST" request-type="ajax-reload" request-value="">
	<div class="am-form-group am-input-group am-input-group-primary m-b-0">
		<textarea minlength="1" maxlength="168" name="content" class="mood-textarea" placeholder="<?php echo L('bubble_mood_placeholder'); ?>" data-validation-message="<?php echo L('bubble_mood_format'); ?>"></textarea>
		<span class="am-input-group-btn">
			<button class="am-btn am-btn-primary mood-button" type="submit" data-am-loading="{loadingText:'<?php echo L('common_form_loading_tips'); ?>'}"><?php echo L('common_operation_publish'); ?></button>
		</span>
	</div>
	<div class="am-panel am-panel-default mood-tools m-t-0">
		<div class="am-fr tools-visible">
			<span><?php echo L('bubble_visible_text'); ?></span>
			<select name="visible" data-am-selected>
				<?php foreach($common_user_visible_list as $v): ?>
					<?php if(isset($v['is_show']) && $v['is_show'] == 1): ?>
						<option value="<?php echo $v['value']; ?>"><?php echo $v['name']; ?></option>
					<?php endif; ?>
				<?php endforeach; ?>
			</select>
		</div>
		<span class="am-fr cr-ccc m-l-10 m-r-10">|</span>
		<label class="c-p am-fr" data-am-popover="{content: '<?php echo L('bubble_is_sign_hover'); ?>', trigger: 'hover focus'}">
			<input type="checkbox" name="is_sign" value="1" class="none" checked />
			<i class="am-icon-user am-icon-btn am-primary sign-submit"></i>
		</label>
	</div>
</form>
<!-- form end -->
