<div class="am-cf bubble-nav">
	<?php if(I('type') == 'own'): ?>
		<a href="<?php echo U('Home/Bubble/Index'); ?>" class="am-btn am-btn-default am-btn-sm am-radius am-fl">冒泡广场</a>
		<a href="<?php echo U('Home/Bubble/Index', array('type'=>'own')); ?>" class="am-btn am-btn-default am-btn-sm am-radius am-fl am-active">本人冒泡</a>
	<?php else: ?>
		<a href="<?php echo U('Home/Bubble/Index'); ?>" class="am-btn am-btn-default am-btn-sm am-radius am-fl am-active">冒泡广场</a>
		<a href="<?php echo U('Home/Bubble/Index', array('type'=>'own')); ?>" class="am-btn am-btn-default am-btn-sm am-radius am-fl">本人冒泡</a>
	<?php endif; ?>
</div>
